.navbar {
    background-color: #1381ef;
    border-bottom: 1px solid #e9ecef;
    padding: 0.5rem 1rem;
}

.list{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.list li {
    margin-right: 1rem;
}

.link {
    text-decoration: none;
    color: #fff;
}