# Node modules
node_modules/
**/node_modules/

# Build directories
dist/
build/
out/

# Dependency directories
jspm_packages/
bower_components/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Cache directories
.cache/
.next/
.nuxt/
.sass-cache/
.pnp/
.pnp.js

# Test directories
coverage/
*.lcov

# Environment variables
.env
.env.*.local

# Static Bundlers
.cache/
.serve/
**/.serve/

# Lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml

# Misc
*.swp
*.bak
*.tmp
*.old

